.contacts-info {
  @include font-size(1.4);
  line-height: 1.8em;
  padding-left: 110px;

  .em {
    @include font-size(1.6);
  }

  strong {
    @include font-size(1.6);
  }

  &:before {
    position: absolute;
    content:"";
    display: inline-block;
    width: 90px;
    height: 90px;
    background: url("images/contacts-items.png") no-repeat;
    margin-left: -97px;
    @include tablet-portrait-down {
      margin-left: -93px;
    }
  }

  &.address {
    @include tablet-portrait-down {
      padding-left: 77px;
    }
  }

  &.working-hours {
    padding-left: 77px;
    &:before {
      width: 57px;
      background-position: -92px 0;
      margin-left: -77px;
    }
  }

  &.bank {
    padding-left: 73px;
    &:before {
      width: 53px;
      background-position: -152px 0;
      margin-left: -73px;
    }
  }

}

.map-container {
  height:600px;
}

.distributors {
  h4 {
    @include font-size(1.8);
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 10px;
    line-height: 1.4;
    margin-top: 12px;
  }

  .team-members-list {
    margin-top: 40px;
  }

  .team-members-list-item {
    margin-bottom: 50px;

    @include tablet-portrait-down {
      margin-bottom: -10px;
    }

    h4 {
      img {
        background: transparent;
        padding: 0;
        vertical-align: bottom;
      }
    }
  }

  .team-members-list-item:nth-child(3n+1) {
    clear: left;
  }

  a {
    color: $color__text-main;
    text-decoration: none;
    &:hover {
      color: #000;
    }
  }
}

.contacts-shops {
  padding: 30px 0;
  background-color: rgba(0,0,0,.6);
  color: white;
  margin-bottom: 50px;

  h2 {
    padding-bottom: 20px;
  }
}

.contacts-shops_list {
  column-count: 5;
  column-gap: 30px;
  @include font-size(1.5);
  max-height: 200px;
  transition: all .2s;
  overflow: hidden;

  -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;

  h4 {
    font-weight: 600;
  }

  a, a:hover {
    color: #fff;
  }

  &.open {
    max-height: 2000px;
  }

  @include tablet-landscape-down {
    column-count: 3;
  }

  @include mobile-landscape-down {
    column-count: 1;
  }
}


.contacts_showall {
  margin-top: 30px;
}