.gallery-list {

  .gallery-item {
    background: #fff;
    margin-bottom: 60px;
    padding: 8px;
    @include border-radius(8);
    @include shadow();

    a.darken {
      @include border-radius(8);
    }

    img {
      @include border-radius(8);
    }

    h2 {
      text-transform: uppercase;
      @include font-size(1.8);
      font-weight: 700;
      line-height: 1.2em;
      margin-top: 10px;
      margin-bottom: 5px;
      min-height: 42px;
      display: table;
      text-align: center;
      width:100%;

      a {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        color: #4d4d4d;
        text-decoration: none;
        &:hover {
          color: darken(#4d4d4d, 20%);
        }
      }
    }

  }

}

.gallery-images .gallery-title {
  margin-bottom: 30px;
  line-height: 40px;
  min-height: 40px;
  margin-top: 0;
  font-weight: 700;
  text-transform: uppercase;
}

.gallery-image {
  &, & div {
    &:focus {
      outline: 0;
    }
  }
}

.gallery-thumb {
  position: relative;

  img {
    @include border-radius(8);
  }
}

.gallery-image-title {
  @include border-radius(8);
  display: block;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0);
  text-align: center;
  vertical-align: middle;
  color: #fff;
  @include font-size(1.6);
  text-transform: uppercase;
  font-weight: 300;
  text-decoration: none;
  overflow: auto;
  cursor: pointer;

  span {
    display: none;
    line-height: 1.4em;
    position: absolute;
    text-align: center;
    left: 8px;
    right: 8px;
    bottom: 8px;
  }
}

.gallery-images-cnt .gallery-image-title:hover{
  background: rgba(0,0,0,0.5);
  span {
    display: block;
  }
}

.gallery-image-big {
  background: no-repeat center/cover;

  .gallery-thumb {
    height: 100%;
  }

  &.slick-current .gallery-image-title span{
    display: block;
    @include font-size(3);
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    text-shadow: 0 0 7px rgba(0,0,0,.6);
    padding-left: 7px;
  }
}

.gallery-images-big, .gallery-image-big {
  height: 500px;
  @include border-radius(8);
}

.gallery-images-big {
  position: relative;
  margin-bottom: 30px;

  .slick-arrow {
    background: transparent url('images/carousel-arrows.png') no-repeat center;
    width: 51px;
    height: 51px;
    display: inline-block;
    text-indent: -999999px;
    border: none;
    position: absolute;
    top: calc(50% - 25px);

    &:hover {
      opacity: .8;
    }

    &:focus, &:hover, &:active {
      background-color: transparent;
      box-shadow: none;
      outline: none;
    }

    &.slick-prev {
      background-position: 0 0;
      left: -80px;
    }
    &.slick-next {
        background-position: -51px 0;
        right: -80px;
    }


  }
}

@media (max-width: 1320px) and (min-width: 1200px), (max-width: 1130px) {
  .gallery-images-big {
    .slick-arrow {
      top: -76px;

      &.slick-prev {
        left: 0px;
      }
      &.slick-next {
        right: 0px;
      }
    }
  }
  .gallery-title {
    margin-left: 70px;
  }
  .gallery-nav {
    margin-right: 70px;
  }
}

@include tablet-portrait-down {
  .gallery-title {
    margin-right: 60px;
  }
  .gallery-nav {
    margin-right: 0;
  }
  .gallery-images .gallery-title {
    text-align: center;
  }
}

.btn-back.mb-0 {
  margin-bottom: 30px;
}
