#paint-products-list {
  padding-left:5px;
  padding-right:0;
}

#paint-products-list .mix {
  display: none;
}

.paint-products-item {

  width: 278px;
  height: 250px;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  background: #fff;

  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 6px rgba(0, 0, 0, 0.3);

  padding: 8px;

  float: left;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;

  @include mobile-landscape-down {
    margin-bottom: 30px;
  }

}

.paint-products-item-content {
  width: 262px;
  height: 234px;
  background-repeat: no-repeat;


  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  border: 1px solid #dedbdb;

  a {
    position: relative;
  }

  &:hover {
    .paint-products-item-overlay {
      display: block;
      cursor: pointer;
    }
  }

  a:hover {
    text-decoration: none;
  }

}

.paint-products-item-box {
  @include tablet-landscape-down {
    margin: 0 auto;
    width: 275px;
  }
}

.paint-products-item-overlay {
  display: none;
  background: rgba(54, 54, 53, 0.8);

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  width: 100%;
  height: 100%;

  text-align: center;

  img {
    margin: 0 auto;
    padding-top: 60px;
    margin-bottom: 15px;
  }

  h2 {
    text-align: center;
    text-transform: uppercase;
    @include font-size(1.8);
    font-weight: 700;
    color: #fff;
    width: 80%;
    margin:0 auto;
    line-height: 1.2em;
  }

}

.paint-products-item-nav {
  @include tablet-landscape-down {
    width: 145px;
    margin: 0 auto 20px;
  }

  a {
    position: absolute;
    top: 95px;

    @include tablet-landscape-down {
      top: 0;
      position: relative;
      margin-left: 20px;
    }

    background: url('images/carousel-arrows.png') no-repeat;
    width: 51px;
    height: 51px;
    display: inline-block;
    text-indent: -999999px;
  }

  .paint-products-item-nav-prev {
    background-position: 0 0;
    left: -55px;
    @include tablet-landscape-down {
      left: 0;
    }
  }
  .paint-products-item-nav-next {
    background-position: -51px 0;
    right: -55px;
    @include tablet-landscape-down {
      right: auto;
    }
  }
}

.front-gallery-slider {
  .slick-arrow {
    border: none;
    background-color: none;
    position: absolute;
    top: calc(50% - 25px);

    &:hover {
      opacity: .8;
    }

    &:focus, &:hover, &:active {
      background-color: none;
      box-shadow: none;
      outline: none;
    }
  }
}